<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingreso Amigos de la Fundaci&oacute;n</title>
	<!--cargar todos los archivos necesarios para estilos y eventos-->
	<!-- incluir Bootstrap y css-->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!--<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!--controlador de eventos-->
	<script src="js/brain.js"></script>
	<!--controlador del menú-->
	<script src="js/menu.js"></script>
	<!-- Manipulación de Dom con Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
  </head>