<script src="js/brain.js"></script>
<h2>Actualizaci&oacute;n de Datos</h2>
	<br>
	<script>datosUsuario();</script>
	<form onsubmit="actDatos(); return false;">
	  <div id="contenidoDatosUsuario">
	  </div>
	</form>
	
	<!--Ventanas emergentes-->
	
	<!--confirmar estado de registro nuevo Usuario-->
	<div class="modal fade" id="UsuarioEstado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Actualización de Datos</h4>
		  </div>
		  <div class="modal-body">
			<h4 id="resultadoUsuario"><!--Aquí se encontrará el resultado--></h4>
		  </div>
		  <div class="modal-footer">
			<button onclick="recargar();" type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
		  </div>
		</div>
	  </div>
	</div>
	<!--confirmar estado de registro nuevo Usuario-->
	
	